*{
font-family: 'Hind', sans-serif;
margin: 0;
}
                       /* banner */
.banner{
background-image:url(../images/banner/banner2.png);
background-size: cover;

}
.banner-container{
padding-top:  165px;
 width: 500px;
 text-align: right;
 margin-left: 800px;
 
}
.banner-title{
font-size: 60px;

}
.banner-btn{
margin-top: 20px;
height: 55px;
width: 140px;
padding: 15px;
border: 0;
background-color: #F15B22;
color: #FFFFFF;
border-radius: 5px;
margin-bottom: 150px;
font-size: 18px;
font-weight: 400;
}
                            /* section 1 */
.section1-style{
margin-top: 100px;
display: flex;
align-items:center;

}
.section1-title{
font-size: 40px;
font-weight: bold;
}

.section-description{
    font-size: 18px;
   
}

.description-name:before
{
    content: '✔';   
   
    margin-right: 10px;
    color: #16D887;

}

   .img-style{
margin-left: 200px;

   }
.about-section{
margin-top: 50px;
   margin-left: 100px;
   width: 400px;
margin-top: 180px;
  
    
   }
                      /* section 2 */

.section2-title{
    margin-top: 130px;
    margin-bottom: 60px;
    font-size: 35px;
    text-align: center;
   
}
.about-plan{
display: flex;
gap: 150px;
justify-content: center;


}
.plan-name{

    text-align: center;
}
          /* section 3 */

.section3-style{
background-color:beige;
border-radius: 10px;
margin-top: 120px;
margin-left: 200px;
 margin-right:200px ;
}
.section3-info{
    padding: 30px;
}
.section3-title{
    
text-align: center;
font-size: 35px;
 }
    
.section3-description{
margin-top: 20px;
text-align: center;
color: black;

}

.section3-about{
display: flex;
gap: 40px;
justify-content: center;
padding: 20px;
}


        /* section 4*/
.section4{ 
    
 background: linear-gradient(90deg, #F15B22 0%, rgba(18, 18, 18, 0) 100%),url(../images/watch.png);
 border-radius: 10px;

 margin: 120px 200px;

}
.section4-info{
padding-top: 50px;
padding-left: 50px;
width: 400px;
}
.section4-title{
    font-size: 40px;
    font-weight:bolder;
    color: #FFFFFF;
}
.section4-btn{
margin-top: 25;
margin-bottom: 60px;
height: 55px;
width: 140px;
padding: 15px;
border: 0;
color: #F15B22;
background-color: #FFFFFF;
border-radius: 5px;
font-size: 18px;
font-weight: bold;

}
              /* footer */
.footer-bg{
background-color: black;

} 
.about-footer{

  display: flex;
  
}
.footer-info{
width: 500px;
padding: 100px;
margin-left: 120px;
margin-left: 100px;
margin-top: 50px;
}

.footer-title{
color: #FFFFFF;
 
}

.footer-para{
    color: aliceblue;

}
.image-icon{
margin-top: 20px;

}
.image-icon2{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

}
    .subscribe-title{
        color:  #FFFFFF;
    }
.input{
    height: 50px;
    width: 230px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.subs-btn{
    height: 55px;
width: 140px;
padding: 15px;
border: 0;
color: #F15B22;
background-color: #FFFFFF;
border-radius: 5px;
font-size: 18px;
font-weight: bold;
margin-top: 20px;

}
.subscribe-btn{
margin-top: 50px;
padding:100px ;
margin-left: 200px;
margin-right: 100px;
}